# Firebase plist
GoogleService-Info.plist
APIs.plist

# Xcode
DerivedData/
*.xcuserstate
*.xccheckout
*.xcuserdata/
*.moved-aside
*.xcworkspace
xcdebugger/

# Build products
build/
*.app
*.app.dSYM
*.ipa

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Misc
*.DS_Store
*.swp
*.lock
